name: NodeJS with Webpack and Playwright

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - name: Cancel previous redundant builds
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ secrets.MY_TOKEN_ACTION }}

    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Playwright dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libnss3 libatk1.0-0 libatk-bridge2.0-0 libcups2 libdrm2 libxkbcommon0 libgbm1

    - name: Build
      run: |
        npm install
        npm install -D webpack-cli
        npx playwright install

    - name: Run Playwright Tests
      run: npx playwright test --reporter=html

    - name: Upload Playwright Report
      if: always()  # para subirlo aunque falle un test
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report